.contact-section {
    min-height: 100vh;
    padding: 80px 0 80px;

}

.contact-section .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
}

.contact-section .contact-item-inner {
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

.contact-section .contact-item-inner i {
    font-size: 25px;
    color: var(--skin-color);
}

.contact-section .contact-item-inner span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 10px 0 10px;
    text-transform: capitalize;
}

.contact-section .contact-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
    word-break: break-word;
}

.contact-section .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}

.contact-section .w-50 {
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
}

.contact-section .input-group {
    margin: 0 0 25px;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.contact-section .input-group::after {
    border-radius: 30px;
}

.contact-section .input-group .input-control {
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    padding: 0 16px;
    font-size: 16px;
    color: var(--text-black-700);
}

.contact-section textarea {
    height: 188px;
    width: 538px;
    padding-top: 15px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: transparent;
}

.contact-section textarea::after {
    border-radius: 30px;
}

.contact-section .submit-btn {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 0 15px;
}