.service-section {
    padding: 80px 0 80px;
    min-height: 100vh;
}

.service-section .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.service-section .service-item .service-item-inner {
    padding: 50px 15px;
    border-radius: 5px;
    text-align: center;
}

.service-section .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto 30px;
    position: relative;
    color: var(--text-black-600);
}

.service-section .service-item .service-item-inner .icon::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease;

}

.service-section .service-item .service-item-inner:hover .icon {
    box-shadow: var(--inner-shadow-0);
}

.service-section .service-item .service-item-inner:hover .icon::after {
    box-sizing: var(--outer--shadow);
}

.service-section .service-item .service-item-inner .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease;
}

.service-section .service-item .service-item-inner:hover .icon i {
    color: var(--skin-color);
    cursor: pointer;
}

.service-section .service-item .service-item-inner h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}

.service-section .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-600);
    margin: 0;
    line-height: 26px;
}