@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --bg-opacity: rgba(255, 255, 255, 0.5);
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer--shadow: 3px 3px 3px #d0d0d0,
        -3px -3px 3px #f8f8f8;
    --outer--shadow-0: 0px 0px 0px #d0d0d0,
        0px 0px 0px #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0,
        inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0px 0px 0px #d0d0d0,
        inset 0px 0px 0px #f8f8f8;
}

body.dark {
    --bg-black-900: #ffffff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2b2f;
    --bg-opacity: rgba(43, 44, 47, 0.5);
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;

    --outer--shadow: 3px 3px 3px #222327,
        -3px -3px 3px #363636;
    --outer--shadow-0: 0px 0px 0px #222327,
        0px 0px 0px #363636;
    --inner-shadow: inset 3px 3px 3px #222327,
        inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 0px 0px 0px #222327,
        inset 0px 0px 0px #363636;
}

body {
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}

body.stop-scrolling {
    overflow-y: hidden;
}

* {
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 400;
}

::before,
::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.outer-shadow {
    box-shadow: var(--outer--shadow) !important;
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow {
    box-shadow: var(--outer--shadow-0);
}

.hover-in-shadow::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}

.hover-in-shadow:hover:after {
    box-shadow: var(--inner-shadow);
}

.align-item-center {
    align-items: center;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
    border: none;
}

.btn-1::after {
    border-radius: 30px;
}

.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    display: inline-table;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

.section-title h2::before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color);
}

.section.hide {
    display: none;
}

/*--------
preloaddr
---------*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    background-color: var(--bg-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader.fade-out {
    opacity: 0;
    transition: all 0.6s ease;
}

.preloader .box {
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preloader .box div {
    height: 15px;
    width: 15px;
    background-color: var(--skin-color);
    border-radius: 50%;
    animation: loaderAni 1s ease infinite;
}

.preloader .box div:nth-child(2) {
    animation-delay: 0.1s;
}

.preloader .box div:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes loaderAni {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}